<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin/main" class="text-decoration-none">Admin</a></li>
            <li class="breadcrumb-item active">Products</li>
        </ol>
    </nav>
</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of getProducts()">
                        <td>
                            <img src="../../../assets/img/{{item.imageUrl}}" width="80" alt="{{item.name}}">
                        </td>
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td class="text-end">
                            <button class="btn btnEdit" [routerLink]="['/admin/main/products/edit',item.id]">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button class="btn btnDelete" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                <i class="bi bi-trash"></i>
                            </button>
                            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                                aria-labelledby="deleteModalLabel" aria-hidden="false">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-start">
                                            Are you sure you want to delete?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary btn-sm"
                                                data-bs-dismiss="modal">Cancel</button>
                                            <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal"
                                                (click)="removeProduct(item.id)">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>