<!-- <div class="card">
    <div class="card-body">
        <h5 class="card-title">Categories</h5>
        <div class="list-group">
            <button *ngFor="let category of categories" type="button" (click)="changeCategory(category)"
                [class.active]="category==selectedCategory" class="list-group-item list-group-item-action"
                aria-current="true">
                {{category.name}}
            </button>
            <button type="button" (click)="changeCategory()" class="list-group-item list-group-item-action">All
                Categories</button>
        </div>
    </div>
</div> -->

<ul class="nav nav-tabs nav-justified mb-3" role="tablist">
    <li class="nav-item" *ngFor="let category of categories">
        <a type="button" (click)="changeCategory(category)" [class.active]="category==selectedCategory"
            class="nav-link colorCustom" aria-selected="true">
            {{category.name}}
        </a>
    </li>
    <li class="nav-item">
        <a type="button" class="nav-link text-muted borderCustom" (click)="changeCategory()">
            All Categories
        </a>
    </li>
</ul>