<aside id="sidebar" class="sidebar">
    <app-navbar></app-navbar>
</aside>

<main id="main" class="main">
    <div class="row">
        <div class="col-md-3">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Categories</h5>
                    <div class="list-group">
                        <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                            Category 1
                        </button>
                        <button type="button" class="list-group-item list-group-item-action">
                            Category 2
                        </button>
                        <button type="button" class="list-group-item list-group-item-action">
                            Category 3
                        </button>
                        <button type="button" class="list-group-item list-group-item-action">
                            Category 4
                        </button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-9">

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col" *ngFor="let product of products">
                    <div class="card h-100">
                        <img src="../../assets/img/{{product.imageUrl}}" class="card-img-top" alt="{{product.name}}">
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <p class="card-text">{{product.description}}</p>
                            <small class="text-muted"><i class="bi bi-currency-dollar"></i>{{product.price}}</small>
                        </div>
                        <div class="d-flex justify-content-end mb-3 mx-2">
                            <button class="btn btn-outline-primary">Details</button>
                            <button class="btn btn-outline-primary mx-2">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</main>