<aside id="sidebar" class="sidebar">
    <app-navbar></app-navbar>
</aside>

<main id="main" class="main">
    <div class="row">
        <div class="col-md-3">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Categories</h5>
                    <div class="list-group">
                        <button *ngFor="let category of categories" type="button" (click)="changeCategory(category)"
                            [class.active]="category==selectedCategory" class="list-group-item list-group-item-action"
                            aria-current="true">
                            {{category.name}}
                        </button>
                        <button type="button" (click)="changeCategory()"
                            class="list-group-item list-group-item-action">All Categories</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-9">

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col" *ngFor="let product of products">
                    <div class="card h-100">
                        <div class="d-flex justify-content-center">
                            <img src="../../assets/img/{{product.imageUrl}}" class="card-img-top w-75"
                                alt="{{product.name}}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <p class="card-text">{{product.description}}</p>
                            <small class="text-muted"><i class="bi bi-currency-dollar"></i>{{product.price}}</small>
                        </div>
                        <div class="d-flex justify-content-end mb-3 mx-2">
                            <button class="btn btn-outline-secondary">Details</button>
                            <button class="btn btn-outline-dark mx-2">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</main>