<aside id="sidebar" class="sidebar">
    <app-navbar></app-navbar>
</aside>

<main id="main" class="main">
    <div class="row">
        <div class="pagetitle">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" class="text-decoration-none">Home</a></li>
                    <li class="breadcrumb-item active">Products</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-3">
            <app-category-list (category)="getCategory($event)"></app-category-list>
        </div>
        <div class="col-md-9">
            <nav>
                <ol class="breadcrumb justify-content-between">
                    <li class="breadcrumb-item active">
                        {{products.length}} products found.
                    </li>
                    <div class="col-sm-3">
                        <select class="form-select" [value]="productsPerPage"
                            (change)="changePageSize($any($event.target).value)">
                            <option value="3">Three product</option>
                            <option value="4">Four product</option>
                            <option value="6">Six product</option>
                        </select>
                    </div>
                </ol>
            </nav>
            <app-cart-summary></app-cart-summary>
            <app-product-list [products]="products"></app-product-list>
            <div class="row mt-3">
                <nav>
                    <ul class="pagination">
                        <li *ngFor="let page of pageNumbers" class="page-item">
                            <a class="page-link" type="button" (click)="changePage(page)"
                                [class.active]="page == selectedPage">
                                {{page}}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</main>